/* Music Cards.css */
.card {
    margin-left: 40%;
    height: auto;
    width: 250px;
    border-radius: 5%;
    margin-top: 157px;
    padding: 20px;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    display: inline-block;
    background-color: gray;
}

.card .card-image {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card .card-image:hover {
    transform: scale(1.1);
}

.card .card-button {
    border-radius: 8px;
    color: black;
    background-color: white;
    font-weight: bold;
}

.card .card-button:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.card .card-title {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    color: #fff;
    font-size: 43px;
    margin-bottom: 10px;

}

.dropdown-menu {
    position: relative;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
}

.dropdown-menu a {
    display: block;
    color: black;
}

.dropdown-menu a:hover {
    color: gray;
}

.footer {
    text-align: center;
    font-size: 18px;
    padding: 0;
    margin-bottom: 0;
    margin-top: 10px;
}
